<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @payment.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @payment.contact %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @payment.cart_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
