
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @product.product_image.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <% if user_signed_in? %>
    <% @product.price = @product.price*0.85 %>
      <%=number_to_currency @product.price %>
    <% else %>
      <%=number_to_currency @product.price %>
    <% end %>
</p>



<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Inventory available:</strong>
  <%= @product.inventory_available %>
</p>

<p>
  <strong>Purchase quantity:</strong>
  <%= @product.purchase_quantity %>
</p>

<!-- <p>
  <strong>total_price:</strong>
  <%= @product.price.to_i*@product.purchase_quantity.to_i %>
</p> -->
