
<div class="col-md-2">

  <div class="productbox">
    <%= image_tag product.product_image.thumb.url %>
    <div class="producttitle"><strong>Product Name: </strong> <br><%= product.name %></div>

    <p class="text-justify"><strong>Product price: </strong>
      <%= check_discounted_price(product) %>
    </p>

    <p class="text-justify"><strong>Product description: </strong> <br> <%= product.description %></p>

    <p class="text-justify"><strong>Stock left: </strong>

      <%= product.inventory_available %> <%= backorder(product) %>


    </p>

    <p class="text-justify"><strong>We have sold: </strong> <%= product.purchase_quantity %></p>
    <i class="ion-android-cart">  <%= link_to 'Buy me la', product %> </i>


  </div>

</div>
