<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <% if user_signed_in? %>

      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

    <% else %>
      <%= link_to('Login', new_user_session_path)  %>

      <br> <%= flash = "Registered User get 15% discount:" %> <%= link_to('Click here to Register', new_user_registration_path) %>
    <% end %>

    <div class="right-align">
      <%= link_to 'View Your cart' ,carts_path(@cart), class: 'btn btn-success' %>
    </div>

    <%= yield %>

</div>



  </body>
</html>
